@model SoftPets.Models.Mascota
@{
    ViewBag.Title = "Detalles de Mascota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="max-width:600px;">
    <h2 class="mb-4">Detalles de Mascota</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">Nombre</dt>
                <dd class="col-sm-8">@Model.Nombre</dd>
                <dt class="col-sm-4">Especie</dt>
                <dd class="col-sm-8">@Model.Especie</dd>
                <dt class="col-sm-4">Raza</dt>
                <dd class="col-sm-8">@Model.Raza</dd>
                <dt class="col-sm-4">Fecha Nacimiento</dt>
                <dd class="col-sm-8">@Model.FechaNacimiento?.ToShortDateString()</dd>
                <dt class="col-sm-4">Sexo</dt>
                <dd class="col-sm-8">@Model.Sexo</dd>
                <dt class="col-sm-4">Color</dt>
                <dd class="col-sm-8">@Model.Color</dd>
                <dt class="col-sm-4">Renian</dt>
                <dd class="col-sm-8">@Model.Renian</dd>
                <dt class="col-sm-4">Foto</dt>
                <dd class="col-sm-8">@Model.Foto</dd>
            </dl>
            <div class="mt-3">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>